@page "/energieverbruik"
@inherits EnergieverbruikBase

<div class="header">
    <img src="images/house-illustration.png" alt="House" class="house-image" />
</div>

<div class="grid">
    <div class="tile" @onclick="VernieuwVerbruik">
        <p class="value">@PrijsPerUur.ToString("0.00") cent</p>
        <p class="label">13.00 - 14.00</p>
    </div>
    <div class="tile">
        <p class="value">@TotaleKosten.ToString("0.00") €</p>
        <p class="label">Kosten tot nu toe</p>
    </div>
    <div class="tile">
        <p class="value">@HuidigVerbruik.ToString("0.00") W</p>
        <p class="label">Huidig verbruik</p>
    </div>
    <div class="tile clickable" @onclick="OpenZaptecGo">
        <p class="icon">🔌</p>
        <p class="label">Zaptec Go</p>
    </div>
    <div class="tile">
        <p class="value">21 °C</p>
        <p class="label">Kelder</p>
    </div>
    <div class="tile clickable" @onclick="VerdienTegoed">
        <p class="icon">🎁</p>
        <p class="label">Verdien tegoed</p>
    </div>
    <div class="tile clickable" @onclick="OpenStore">
        <p class="icon">🛒</p>
        <p class="label">Store</p>
    </div>
    <div class="tile clickable" @onclick="VoegToe">
        <p class="icon">➕</p>
        <p class="label">Toevoegen</p>
    </div>
</div>
